---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Título'
    value: page.label
  - label: 'Creador'
    value: page.creator
  - label: 'Descripción'
    value: page.description
  - label: 'Edición'
    value: page.publisher
  - label: 'Colaborador'
    value: page.contributor
  - label: 'Fecha'
    value: page._date
  - label: 'Tipología'
    value: page.object_type
  - label: 'Procedencia'
    value: page.repository
  - label: 'Fuente'
    value: page.source
    type:  link
  - label: 'Idioma'
    value: page.language
  - label: 'Relación'
    value: page.relation
  - label: 'Derechos'
    value: page.rights
    type: link
  - label: 'Dublin Core'
    value: page.dc
    type: link
  - label: 'Manifiesto IIIF'
    value: page.manifest
    type:  link
---
